<div class="flex-col justify-center mt-5">
  <div class="flex justify-center">
    <h1 class="font-bold text-xl">
      The JAX Data Science Showcase App
    </h1>
  </div>

  <div class="flex-col justify-center mt-5">
    <div class="flex justify-center">
      <h2 class=" font-medium text-xl">
        Async Tasks Module
      </h2>
    </div>

    <div class="flex justify-center mt-5">
      <lib-jds-async-tasks class="w-8/12"></lib-jds-async-tasks>
    </div>
  </div>
</div>

<router-outlet></router-outlet>