<div class="tw-p-8 tw-max-w-4xl">
  <app-doc-overview></app-doc-overview>
  <app-doc-variations [doc]="doc" [demoTemplates]="demoTemplates"></app-doc-variations>
  <app-doc-usage></app-doc-usage>
  <app-doc-activity></app-doc-activity>
</div>

<ng-template #tplBasic>
  <!-- snippet:basic -->
  <lib-jds-auth></lib-jds-auth>
  <!-- /snippet -->
</ng-template>

<ng-template #tplCustomRedirect>
  <!-- snippet:custom-redirect -->
  <lib-jds-auth [configLogin]="customConfigLogin" [configLogout]="customConfigLogout"></lib-jds-auth>
  <!-- /snippet -->
</ng-template>
